
h1 {
    text-align: center;
    font: 1em sans-serif;
    font-weight: bold;
    color: blue; 
    padding-top: 30px;
    padding-bottom: 20px;
}
/* font wight and color not working.*/

h3 {
    padding-left: 100px;
    padding-right: 100px;
}

h5 {
    text-align: center;
}

.iframe-container{
    position: relative;
    margin-right: 100px;
    margin-left: 100px;
    padding-bottom: 56.25%; 
    height: 0;
    padding: 380px;
  }
  
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

li {
    padding-left: 10px;
}

footer {
    background-color: rgb(76, 65, 65);
    color: white;
    font: italic;
}

.card:hover {
    opacity: .7;
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    .row.primary {
        grid-template-columns: 1fr;
    }
}

.single.Col {
    max-width: 750px;
    margin: 0 auto;
}

.social-media-icons-white a {
    color: white;
    font-size: 2.75rem;
}

#footer {
    height: 2rem;
}

.auto-resizable-iframe {
    max-width: 2800px;
    margin: 0px auto;
  }
  
  .auto-resizable-iframe > div {
    position: relative;
    padding-bottom: 50%; 
    height: 0px;
  }
  
  .auto-resizable-iframe iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }